{
	"trailingComma": "none",
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 150,
	"useTabs": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"xmlSelfClosingSpace": true,
	"overrides": [
		{
			"files": "*.{yml,yaml}",
			"options": { "tabWidth": 2, "useTabs": false, "singleQuote": true }
		},
		{
			"files": "*.xml",
			"options": {
				"useTabs": true,
				"tabWidth": 2
			}
		},
		{
			"files": "*.{prettierrc, json}",
			"options": {
				"parser": "json",
				"printWidth": 80,
				"useTabs": true,
				"singleQuote": false
			}
		},
		{
			"files": "*.json5",
			"options": {
				"printWidth": 80,
				"parser": "json5",
				"quoteProps": "preserve",
				"singleQuote": false
			}
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json", "printWidth": 80 }
		}
	],
	"plugins": ["@prettier/plugin-xml"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
